In [28]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [29]:
df = pd.read_csv('../samples/model3.csv')
df

,draught,speed_through_water,beaufort,consumption_main_engine_mt_per_day,consumption_auxiliary_engine_mt_per_day,consumption_boiler_engine_mt_per_day,imo
0,6.00,6.1,4.0,5.237754,3.6,1.0,345678
1,6.00,6.1,5.0,6.919550,3.6,1.0,345678
2,6.00,6.1,6.0,9.730965,3.6,1.0,345678
3,6.00,6.2,4.0,5.328638,3.6,1.0,345678
4,6.00,6.2,5.0,7.032755,3.6,1.0,345678
...,...,...,...,...,...,...,...
7895,11.51,14.9,3.0,34.130732,3.1,0.0,345678
7896,11.51,15.0,0.0,33.344826,3.1,0.0,345678
7897,11.51,15.0,1.0,33.511314,3.1,0.0,345678
7898,11.51,15.0,2.0,33.977045,3.1,0.0,345678
7899,11.51,15.1,0.0,34.335194,3.1,0.0,345678

In [30]:
df.describe(include='all')

,draught,speed_through_water,beaufort,consumption_main_engine_mt_per_day,consumption_auxiliary_engine_mt_per_day,consumption_boiler_engine_mt_per_day,imo
count,7900.000000,7900.000000,7900.000000,7900.000000,7900.000000,7900.000000,7900.0
mean,8.947466,10.602354,2.915443,14.648618,3.388913,0.577521,345678.0
std,1.814008,2.558733,1.961895,7.961549,0.246884,0.493788,0.0
min,6.000000,6.100000,0.000000,4.470590,3.100000,0.000000,345678.0
25%,7.500000,8.400000,1.000000,7.973699,3.100000,0.000000,345678.0
50%,9.000000,10.600000,3.000000,12.619983,3.600000,1.000000,345678.0
75%,10.500000,12.800000,5.000000,20.032503,3.600000,1.000000,345678.0
max,11.510000,15.700000,6.000000,34.431367,3.600000,1.000000,345678.0

In [31]:
# Create Consumtion Column
df['consumption'] = df.apply (lambda row: row['consumption_main_engine_mt_per_day']+row['consumption_auxiliary_engine_mt_per_day']+row['consumption_boiler_engine_mt_per_day'], axis=1)

In [32]:
reg = linear_model.LinearRegression()
reg.fit(df[['draught','speed_through_water','beaufort']],df.consumption)
print(reg.coef_,reg.intercept_)

[0.46959015 2.6491574  1.26149609] -17.3517156368776

In [33]:
X = df[['draught','speed_through_water','beaufort']]
y = df['consumption']

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.001)

In [35]:
y_test

4302    12.308751
7480    12.817668
6630    29.121640
3913    17.565089
195     10.824304
2391    26.576919
3379    14.902857
7590    15.162306
Name: consumption, dtype: float64

In [36]:
clf = linear_model.LinearRegression()
clf.fit(X_train, y_train)

LinearRegression()

In [37]:
# Model accuracy
clf.score(X_test, y_test)

0.9395816925862327

In [38]:
print(clf.coef_)
clf.intercept_

[0.46995447 2.64914373 1.26146968]

-17.354305063674307